@font-face {
    font-family: clash;
    src: url(./ClashDisplay.ttf);
}
body{
    font-family: 'clash' , sans-serif;
}
.main-div{
    background-size: 180%;
    background-position-y:-100px ;
    transition: all ease-in-out 0.3s;
}
.main-div:hover{
    background-size: 140%;
}
.gradient-text {
  text-shadow: 0 0 18px #f40000;
}
.glow-text {
  text-shadow: 0 0 10px #ff0000; /* Adjust color, offset, and blur as needed */
}